header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  color: goldenrod;
  background-color: black;
  z-index: 1000;
  /* Add a higher z-index to ensure it's above other elements */
}

.logo img {
  max-height: 50px;
  /* Adjust the maximum height of your logo */
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin-right: 20px;
  margin-bottom: 10px;
}

a,
a:visited {
  text-decoration: none;
  color: goldenrod;
}

a:hover {
  color: white;
}

nav a {
  text-decoration: none;
  color: goldenrod;
}

.admin-link,
.admin-link:visited {
  color: lightgreen;

}

.admin-link:hover {
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

#warning {
  color: red;
  font-weight: 600;
}

#register-h1 {
  font-size: large;
  color: goldenrod;
}

#register-label {
  color: goldenrod;
}

.screening-modal {
  position: fixed;
  width: auto;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.screening-modal.visible {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-table {
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body td,
body button {
  font-size: medium;
  font-weight: 600;
  text-align: left;
  padding: 15px;
  margin-top: 5px;
}

body a {
  font-size: large;
  color: goldenrod;
}

body option,
select,
input {
  background-color: lightyellow;
  width: 50%;
  border-radius: 5px;
  align-self: center;
}

body td,
body button,
option,
select {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: 600;
  text-align: left;
  padding: 15px;
  margin-top: 5px;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Courier New', Courier, monospace;

}

body button {
  background-color: goldenrod;
  border-radius: 5px;
  text-align: center;
}

#delete-btn {
  background-color: #E53935;
  color: white;
}

body th {
  font-size: large;
  text-align: left;
  padding: 15px;
  background-color: #ebc358;

}

.login-input {
  width: 100%;

}

.register-user,
.register-user:visited,
label {
  color: goldenrod;
}

.register-user:hover {
  color: white;
}

#login-title {
  color: goldenrod;
}

body h2 {
  font-size: 20px;
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.movie-container {
  border-radius: 15px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ebc358;
  padding: 15px;
  margin: 75px 25px 25px 25px;
}

.genre-filter {
  position: fixed;
  top: 70px;
  left: 0px;
  background-color: black;
  padding: 0px 10px 10px 0px;
  border-radius: 5px 0px 5px 5px;
}

#genre-header {
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .movie-container {
    width: auto;
  }
}

.movie-item {
  margin: 10px;
  /* Add margin for spacing between movie items */
  padding: 10px;
  /* Add padding for a cleaner look */
  border: 1px solid #ddd;
  /* Add a border for better visibility */
  box-sizing: border-box;
  /* Include padding and border in the box sizing */
}

#save-btn {
  width: 80px;
  padding: 5px;
  text-align: center;
  align-self: center;
}

.movie {
  background-color: white;
  border-radius: 15px;
  min-width: 300px;
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 3px solid black;
  text-align: center;
}

.movie img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.details h4 {
  font-size: 20px;
  font-weight: bold;
}

.details p {
  font-size: 15px;
  color: black;
}

.movie-option {
  font-size: small;
}

.select-genre {
  color: black;
  font-size: smaller;
  padding: 2px;
}

#genre {
  background-color: lightyellow;
  font-size: smaller;
  font-weight: 600;
  margin-left: 5px
}

.tickets-table {
  width: 100%;
}

.users-table {
  background-color: lightyellow;
  border-radius: 10px;
}

.users-table td {
  color: black;
}

.users-table th:first-child {
  border-radius: 10px 0px 0px 0px;
}
.users-table th:last-child {
  border-radius: 0px 10px 0px 0px;
}

.admin-radio {
  width: 15px;
  height: 15px;
}


.tickets-table td,
td {
  color: goldenrod;
}

.tickets-table th {
  padding: 10px 20px 10px 20px;
  text-align: left;
}

.update-email {
  width: 150px;
}

#h2-profile {
  color: goldenrod;
}

#no-screenings {
  color: black;
}